<!DOCTYPE html>
<html lang="{{common.lang}}">

<head>
	{{>views/partials/head-common-partial}}
	<title>{{i18n "main.pagetitle"}}</title>
</head>

<body class="main js-load-gadgets">
	<header>
		<div class="logo">
			<a href="/{{common.lang}}">
				<picture>
					<source srcset="/assets/img/hsg-logo-{{common.lang}}.svg" type="image/svg+xml" media="(min-width: 769px)" width="197"
						height="41">
					<source srcset="/assets/img/hsg-logo-small.svg" type="image/svg+xml" media="(max-width: 768px)" width="90" height="100">
					<img src="/assets/img/hsg-logo-{{common.lang}}.svg" alt={{i18n "common.hsglibrary" }}>
				</picture>
			</a>
		</div>
		<nav>
			<div id="search">
				<label for="js-search-input" class="hide">{{i18n "common.search"}}</label>
				<input type="text" placeholder="{{i18n "common.search"}}" id="js-search-input" />
				<span id="js-search-button" class="search">
					<i class="fa fa-fw fa-search" aria-hidden="true"></i>
				</span>
			</div>
			<ul>
				<li class="{{common.lang}}">
					<a class="lang-switch de clickable" href="/de">
						DE
					</a>
					<a class="lang-switch en clickable" href="/en">
						EN
					</a>
				</li>
				<li>
					<a class="clickable info" href="/{{common.lang}}/info" title="info">
						<i class="fa fa-fw fa-info" aria-hidden="true"></i>
					</a>
				</li>
			</ul>
		</nav>
	</header>
	<main>
		<h1 class="visuallyHidden" aria-label="Gadgets">Gadgets</h1>
		<ul id="items" class="js-items">
			<!-- inject items here -->
			{{#each gadgets.all}}
			<li tabindex="0" title="{{this.title}}; {{this.available}} / {{this.total}}"
				class="tile initial js-tile {{#if this.available}}available{{else}}notAvailable{{/if}}" id="{{id}}">
				<div class="info js-info">
					<h2 class="js-title">{{this.title}}</h2>
				</div>
				<div class="container" style="background-image: url(/assets/img/{{this.imgId}}), url(/assets/img/unavailable.jpg);">
					<pre class="details js-details hide">{{{this.detailsJson}}}</pre>
					<p class="description js-description"><span class="description-title">{{this.title}}</span><br><span
							class="js-description-text">{{this.description}}</span>
					</p>
					<p class="availability">{{this.available}} / {{this.total}}</p>
				</div>
			</li>
			{{/each}}
		</ul>
		<div id="js-error" class="error hide">
			<h2>{{i18n "main.errortitle"}}</h2>
			<p>
				{{i18n "main.errormsg"}}
			</p>
		</div>
	</main>
	{{>views/partials/footer-common-partial}}
</body>

</html>
