<!DOCTYPE html>
<html lang="{{lang}}">

<head>
	{{>views/partials/head-common-partial}}
	<title>{{i18n "main.pagetitle"}}</title>
</head>

<body class="js-load-gadgets">
	<header>
		<div class="logo">
			<a href="{{i18n "common.bibliolink"}}">
				<img src="/assets/img/hsg-logo-{{lang}}.svg" alt="{{i18n "common.hsglibrary"}}">
			</a>
		</div>
		<nav>
			<div id="search">
				<label for="js-search-input" class="hide">{{i18n "common.search"}}</label>
				<input type="text" placeholder="{{i18n "common.search"}}" id="js-search-input" />
				<span id="js-search-button" class="clickable search">
					<i class="fa fa-fw fa-search" aria-hidden="true"></i>
				</span>
			</div>
			<ul>
				<li class="{{lang}}">
					<a class="lang-switch de clickable" href="/de">
						DE
					</a>
					<a class="lang-switch en clickable" href="/en">
						EN
					</a>
				</li>
				<li>
					<a class="clickable reload" href="/{{lang}}" title="reload">
						<i class="fa fa-fw fa-refresh" aria-hidden="true"></i>
					</a>
				</li>
				<li>
					<a class="clickable info" href="/{{lang}}/info" title="info">
						<i class="fa fa-fw fa-info" aria-hidden="true"></i>
					</a>
				</li>
			</ul>
		</nav>
	</header>
	<main>
		<h1 class="visuallyHidden" aria-label="Gadgets">Gadgets</h1>
		{{>views/partials/loader-partial}}
		<ul id="items" class="js-items">
			<!-- inject items here -->
		</ul>
		<div id="js-error" class="error hide">
			<h2>{{i18n "main.errortitle"}}</h2>
			<p>
				{{i18n "main.errormsg"}}
			</p>
		</div>
	</main>
	{{>views/partials/footer-common-partial}}
</body>

</html>
