<!DOCTYPE html>
<html lang="{{common.lang}}">

<head>
	{{>views/partials/head-common-partial}}
	<title>{{i18n "info.pagetitle"}}</title>
</head>

<body class="info">
<header>
	<div class="logo">
		<a href="/{{common.lang}}">
			<picture>
				<source srcset="/assets/img/hsg-logo-{{common.lang}}.svg" type="image/svg+xml" media="(min-width: 570px)">
				<source srcset="/assets/img/hsg-logo-small.svg" type="image/svg+xml" media="(max-width: 569px)">
				<img src="/assets/img/hsg-logo-{{common.lang}}.svg" alt="{{i18n " common.hsglibrary"}}">
			</picture>
		</a>
	</div>
	<nav>
		<ul>
			<li class="{{common.lang}}">
				<a class="lang-switch de clickable" href="/de/info">
					DE
				</a>
				<a class="lang-switch en clickable" href="/en/info">
					EN
				</a>
			</li>
			<li>
				<a class="clickable back" href="/{{common.lang}}" title="back">
					<i class="fa fa-arrow-left" aria-hidden="true"></i>
				</a>
			</li>
		</ul>
	</nav>
</header>
<main id="info">
	<h1>{{i18n "info.title"}}</h1>
	<ul>
		<li>
			<i class="fa fw fa-minus" aria-hidden="true"></i> {{i18n "info.dayloan"}}
		</li>
		<li>
			<i class="fa fw fa-minus" aria-hidden="true"></i> {{i18n "info.reminderfees"}}
		</li>
		<li>
			<i class="fa fw fa-minus" aria-hidden="true"></i> {{i18n "info.returncables"}}
		</li>
	</ul>

	<p class="infotext">
		{{{i18n "info.ideawall"}}}
		<br>
		<br>
		{{i18n "info.happytohelp"}} <br>
		{{{i18n "info.openinghours"}}}
	</p>
</main>
{{>views/partials/footer-common-partial}}
</body>

</html>
